{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('ask-genre') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('ask-genre') }}
{% endblock %}

{% block content %}
    <section class="u-clearfix u-section-1" id="sec-d80a">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-container-style u-layout-cell u-size-23 u-layout-cell-1">
                            <div class="u-container-layout u-container-layout-1">
                                <h2 class="u-custom-font u-font-oswald u-text u-text-default u-text-1">Quel est votre genre de films préféré ?</h2>
                                <p class="u-custom-font u-font-oswald u-text u-text-default u-text-2"> Cette information nous aide à vous proposer les films qui vous correspond le mieux</p>
                            </div>
                        </div>
                        <div class="u-container-style u-layout-cell u-size-37 u-layout-cell-2">
                            <div class="u-container-layout u-container-layout-2">
                                <div class="u-form u-form-1">
{#                                    <form method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical " style="padding: 10px;">#}
                                        {{ form(form) }}
{#                                        {% for genre in genresList %}#}
{#                                            <div class="u-form-checkbox u-form-group u-form-group-1">#}
{#                                                <input type="radio" id="radio-{{ genre["id"] }}" name="fav_genre" value="{{ genre["id"] }}" {% if loop.index == 1 %}checked="checked"{% endif %}>#}
{#                                                <label for="radio-{{ genre["id"] }}" class="u-label">{{ genre["name"] }}</label>#}
{#                                            </div>#}
{#                                        {% endfor %}#}
{#                                        <div class="u-form-checkbox u-form-group u-form-group-2">#}
{#                                            <input type="checkbox" id="checkbox-a630" name="checkbox-1" value="On">#}
{#                                            <label for="checkbox-a630" class="u-label">Checkbox</label>#}
{#                                        </div>#}
{#                                        <div class="u-form-checkbox u-form-group u-form-group-3">#}
{#                                            <input type="checkbox" id="checkbox-dca5" name="checkbox-2" value="On">#}
{#                                            <label for="checkbox-dca5" class="u-label">Checkbox</label>#}
{#                                        </div>#}
{#                                        <div class="u-form-checkbox u-form-group u-form-group-4">#}
{#                                            <input type="checkbox" id="checkbox-c0da" name="checkbox-3" value="On">#}
{#                                            <label for="checkbox-c0da" class="u-label">Checkbox</label>#}
{#                                        </div>#}
{#                                        <div class="u-form-checkbox u-form-group u-form-group-5">#}
{#                                            <input type="checkbox" id="checkbox-1a5f" name="checkbox-4" value="On">#}
{#                                            <label for="checkbox-1a5f" class="u-label">Checkbox</label>#}
{#                                        </div>#}
{#                                        <div class="u-align-left u-form-group u-form-submit">#}
{#                                            <a href="#" class="u-btn u-btn-submit u-button-style">Submit</a>#}
{#                                            <input type="submit" value="submit" class="u-form-control-hidden">#}
{#                                        </div>#}
{#                                        <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>#}
{#                                        <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>#}
{#                                        <input type="hidden" value="" name="recaptchaResponse">#}
{#                                        <button type="submit" class="u-border-none u-btn u-btn-round u-btn-submit u-button-style u-palette-2-base u-radius-9 u-btn-1">#}
{#                                            Envoyer#}
{#                                        </button>#}
{#                                    </form>#}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}